<% content_for :title do %>
ここどこ - クイズを探す
<% end %>

<h2>注目</h2>

<% for quiz in @quizzes.sort_by {|q| - q.num_accesses } %>
<span><%= link_to quiz.title, quiz %> (<%= quiz.num_accesses %>)</span>
<% end %>

<h2>人気</h2>

<% for quiz in @quizzes.sort_by {|q| - q.num_plays } %>
<span><%= link_to quiz.title, quiz %> (<%= quiz.num_plays %>)</span>
<% end %>


<h2>投稿者ランキング</h2>
<% for user in @users %>
<span><%= link_to user.nickname, user %></span>
<% end %>

<br />

