<% content_for(:title) do %>
<%=h @quiz.title %>
<% end %>

<% content_for(:header) do %>
  <%= gmap_api_include %>

  <%= javascript_include_tag "kokodoko" %>
  <script>
    Event.observe(window, "load", function() {
      var ary = new Array();

      <% for m in @marks.entries %>
      ary.push({
        title: "<%= m.title %>",
        latlng: new GLatLng(<%= m.lat %>,<%= m.lng %>),
        scale: { magnify: <%= m.magnify_scale || @quiz.magnify_scale %>, normal: 16, demagnify: 15 }
      });
      <% end %>

      shuffle(ary);

      quiz = new QuizController(
        new Quiz(
          ary,
          {
            num_questions: <%= @quiz.num_questions %>,
            view_type: "<%= @quiz.view_type %>"
          }
          ),
          map
          );
                  map.setCenter(quiz.quiz.get_current_question().latlng, 16);
    });
  </script>
<% end %>

<div id="modal_content">
<em>Click to Start</em>
</div>

  <div id="progress_bar">TIME</div>
  <div id="total">0</div>

  <div id="quiz">
      <div id="map"></div>
  </div>
  
  <div class="gamepanel">
  <input id="answer" type="text" onfocus="this.select()"></input>
  <input id="test_button" type="button" onclick="quiz.test()" value="答え合わせ"></input>
  <input id="next_button" type="button" onclick="quiz.next()" value="次へ"></input>
  <input id="finish_button" type="button" onclick="quiz.finish()" value="終了"></input>
  </div>

  <% @score = Score.new; @score.user = session[:user_id]; @score.quiz = @quiz %>
  <div style="display:none">
    <% form_for @score do |f| %>
    <%= f.text_field :score %>
    <%= f.text_field :user_id %>
    <%= f.text_field :quiz_id %>
    <%= f.submit "Send" %>
    <% end %>
  </div>
