<% content_for :title do %>
<%= @user.nickname %>のページ
<% end %>

<div style="padding:4px">
<h1>投稿クイズ</h1>
<span style="font-size: 100%"><%= @user.quizzes.size %>件</span>
</div>

<table>
<% for quiz in @quizzes %>
  <tr>
    <td><%= link_to quiz.title, edit_quiz_path(quiz) %></td>
<% if @user.id == session[:user_id].id %>
    <td><%= link_to '削除', quiz, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br/>

<h1>
<% if @user.id == session[:user_id].id %>
<%= link_to 'ニックネームを変える', edit_user_path(@user) %>
<% end %>
</h1>

</div>
